body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.confirmation-card {
    background-color: white;
    border-radius: 10px;
    padding: 25px 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.confirmation-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px
}

.confirmation-card-left {
    flex: 1;
    text-align: left;
}

.confirmation-info-header {
    background-color: rgb(226, 226, 226);
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    display: inline-block;
}

.title {
    color: #00c5df;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    color: #a3a5a5;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}

.reference-number {
    color: red;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

/* Left Info */
.confirmation-left {
    max-width: 600px;
    margin: 0 auto;
}

.left-info {
    color: rgb(75, 75, 75);
    font-size: 15px;
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.value {
    font-size: 15px;
    align-items: right;
    font-weight: bold;
    padding-right: 20px;
}

/* Back to Home Button */
.home-button {
    background-color: #ef4444;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(239, 68, 68, 0.3);
    display: inline-block;
    margin-top: 20px;
}

.home-button-style {
    text-align: center;
}

.home-button:hover {
    background-color: #dc2626;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.4);
}

.home-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(239, 68, 68, 0.2);
}

/* View Other Events Button */
.view-other-button {
    background-color: white;
    color: #ef4444;
    padding: 12px 30px;
    border: 1px solid #ef4444;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(182, 175, 175, 0.3);
    display: inline-block;
    margin-top: 10px;
}

.view-button-style {
    text-align: center;
}

.view-other-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(237, 134, 134, 0.4);
}

.view-other-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(239, 68, 68, 0.2);
}