/* General page styling */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('pictures/background.png') no-repeat center center fixed;
    background-size: cover;
}


/* Centered form container */

.container {
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
    text-align: left;
    color: #1a5b79;
}

.form-row {
    width: 500px;
    margin-bottom: 15px;
    margin-right: 35px;
    text-align: left;
}


/* Input fields */

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.input-box {
    position: relative;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.6;
}


/* Send button */

button {
    width: 50%;
    padding: 10px;
    background-color: #e94b2f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #c63e28;
}


/* Popup styling */

#popupMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#popupMessage h2 {
    margin-bottom: 10px;
}

#popupMessage button {
    background-color: #007b83;
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
}